<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вкусный овощной гарнир - Cookytime</title>
    <link rel="stylesheet" href="../../styles/style.css">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <h1 class="logo">Cookytime</h1>
            <nav>
                <ul class="flex-nav">
                    <li><a href="../../index.html">Главная</a></li>
                    <li><a href="../gallery.html">Галерея</a></li>
                    <li><a href="../recipes/recipe1.html">Рецепты</a></li>
                    <li><a href="../contacts.html">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="recipe-container">
        <div class="recipe-header">
            <h1>Болоньезе</h1>
            <p class="recipe-subtitle">Это название традиционного итальянского соуса, который готовится на основе томатов и мясного фарша. Один из вариантов подачи – аппетитная паста Болоньезе.</p>
        </div>

        <img src="../images/болоньезе.jpg" alt="блюдо" class="recipe-image">

        <div class="recipe-content">
            <div class="ingredients">
                <h2>Ингредиенты для 4 персон!</h2>
                <ul>
                    <li>300г пасты</li>
                    <li>500г телятины</li>
                    <li>головка лука</li>
                    <li>морковка</li>
                    <li>3 стебля сельдерея</li>
                    <li>150г консервированных томатов в собственном соку</li>
                    <li>3-4ст.л. оливкового масла</li>
                    <li>стакан воды</li>
                    <li>2 чесночных зубчика</li>
                    <li>петрушка, молотый черный перец, соль, базилик - по вкусу</li>

                </ul>
            </div>

            <div class="instructions">
                <h2>Способ приготовления</h2>
                <ol>
                    <li>Мясо после мытья превратите в фарш на мясорубке.</li>
                    <li>Почистите, пошинкуйте лук. Мытую морковку режьте мелким кубиком. Так же нарезайте сельдерей.</li>
                    <li>В толстодонном сотейнике прогрейте оливковое масло, на нём все измельчённые овощи обжаривайте на небольшом огне с периодическими помешиваниями около 10 минут.</li>
                    <li>Добавляйте к овощам телячий фарш и жарьте его в течение 10-15 минут, активно разбивая лопаткой, чтобы не оставались слипшиеся комки.</li>
                    <li>Перетрите вилкой томаты или пюрируйте в блендере, выкладывайте их в сотейник вместе с измельчённым чесноком. Добавляйте соль и приправы. Томите все компоненты блюда 7-10 минут.</li>
                    <li>Пока соус на плите, отваривайте пасту, сливайте с неё воду, раскладывайте по тарелкам, а сверху выкладывайте приготовленный горячий Болоньезе.</li>
                </ol>
            </div>
        </div>
    </main>
 <main class="recipe-container">
        <div class="recipe-header">
            <h1>Фуа-гра</h1>
            <p class="recipe-subtitle">приготовленная по французским кулинарным традициям гусиная печень.</p>
        </div>

        <img src="../images/фуагра.jpg" alt="блюдо" class="recipe-image">

        <div class="recipe-content">
            <div class="ingredients">
                <h2>Ингредиенты</h2>
                <ul>
                    <li>500 г печени гуся</li>
                    <li>350 мл хорошего коньяка</li>
                    <li>1-2 чёрных трюфеля</li>
                    <li>пара щепоток мускатного ореха</li>
                    <li>соль</li>

                </ul>
            </div>

            <div class="instructions">
                <h2>Способ приготовления</h2>
                <ol>
                    <li>Сделайте маринад, смешав коньяк с мускатным орехом и добавив нарезанный трюфель, а также соль.</li>
                    <li>В эту смесь погрузите вымытую печень, накройте ёмкость пищевой плёнкой и на всю ночь оставьте в холодильнике.</li>
                    <li>Промариновавшуюся печень оберните фольгой и при 180 градусах запекайте в духовом шкафу около 50-60 минут.</li>
                    <li>Перед подачей нарежьте печень, подайте её с зеленью и овощами или иным лёгким гарниром.</li>
                    </ol>
            </div>
        </div>
    </main>
     <main class="recipe-container">
        <div class="recipe-header">
            <h1>Гуляш</h1>
            <p class="recipe-subtitle">венгерский суп Гуляш</p>
        </div>

        <img src="../images/гуляш.jpg" alt="блюдо" class="recipe-image">

        <div class="recipe-content">
            <div class="ingredients">
                <h2>Ингредиенты для 8 персон!</h2>
                <ul>
                    <li>500-600 г мяса (можно использовать говядину и свинину)</li>
                    <li>болгарский крупный перец</li>
                    <li>4-5 картофелин</li>
                    <li>крупная морковь</li>
                    <li>2 помидора</li>
                    <li>2 головки лука-репки</li>
                    <li>2-3 зубца чеснока</li>
                    <li>3 полных стакана воды</li>
                    <li>2 ст. л. томатной пасты</li>
                    <li>90 мл подсолнечного масла</li>
                    <li>щепотка тмина</li>
                    <li>2 ч. л. молотой сладкой паприки</li>
                    <li>соль – на ваш вкус</li>
                </ul>
            </div>

            <div class="instructions">
                <h2>Способ приготовления</h2>
                <ol>
                    <li>Почистите и порежьте лук, примерно 5 минут обжаривайте его в казане в половине растительного масла вместе с томатной пастой. Огонь должен быть средним</li>
                    <li>Почистите чеснок, пропустите через пресс или натрите, положите в казан вместе с тмином и паприкой. Жарьте всё с помешиваниями пару минут и выкладывайте в подходящую ёмкость</li>
                    <li>Порежьте всё мясо на небольшие кубики</li>
                    <li>В казане прогрейте остаток масла и в нём жарьте мясо до появления золотистого колера</li>
                    <li>В мясо выкладывайте отложенную зажарку из лука, чеснока и томатной пасты</li>
                    <li>Добавьте стакан воды и подождите, пока всё закипит</li>
                    <li>Под крышкой готовьте мясо с соусом порядка двух часов. По мере выкипания жидкости доливайте воду</li>
                    <li>Перец освободите от семян и порежьте кубиком. Таким же способом измельчите чищенный картофель, морковь и томаты.</li>
                    <li>Все нарезанные овощи кладите в казан. Солите гуляш, доливайте весь остаток воды</li>
                    <li>После закипания блюдо будет готовиться примерно 25-30 минут.</li>
                    <li>Когда гуляш настоится, подавайте его</li>
                </ol>
            </div>
        </div>
    </main>
     <main class="recipe-container">
        <div class="recipe-header">
            <h1>Карбонара</h1>
            <p class="recipe-subtitle">национальное блюдо Италии</p>
        </div>

        <img src="../images/карбонара.jpg" alt="блюдо" class="recipe-image">

        <div class="recipe-content">
            <div class="ingredients">
                <h2>Ингредиенты для 1 персоны</h2>
                <ul>
                    <li>70-100 г спагетти;</li>
                    <li>70 г бекона</li>
                    <li>70 г твёрдого сыра (лучше взять пармезан);</li>
                    <li>1 куриное яйцо;</li>
                    <li>1 ст. л. оливкового масла;</li>
                    <li>½ ч. л. сушёных итальянских трав</li>
                    <li>щепотка молотого перца</li>
                    <li>½ ч. л. соли</li>
                </ul>
            </div>

            <div class="instructions">
                <h2>Способ приготовления</h2>
                <ol>
                    <li>Сварите спагетти в большом количестве подсоленной воды. Конечное состояние – не разваренное, аль денте. Воду слейте, оставив примерно полстакана на соус</li>
                    <li>Порежьте бекон</li>
                    <li>Сыр потрите на средней тёрке.</li>
                    <li>В небольшой ёмкости соедините и перемешайте тёртый пармезан с сырым яйцом.</li>
                    <li>В сковороде на оливковом масле обжаривайте вместе с травами бекон.</li>
                    <li>Сваренные спагетти добавьте к бекону, перемешайте.</li>
                    <li>Выкладывайте в сковороду яично-сырную массу, перемешивайте всё.</li>
                    <li>Вливайте полстакана оставшейся после варки воды, всё активно мешайте, чтобы сырно-яичная смесь превратилась в соус.</li>
                    <li>Затем 1-2 минуту грейте на маленьком огне содержимое сковороды, помешивая.</li>
                    <li>Сразу подавайте пасту.</li>
                </ol>
            </div>
        </div>
    </main>
     <main class="recipe-container">
        <div class="recipe-header">
            <h1>Карпаччо</h1>
            <p class="recipe-subtitle">классика итальянской кухни</p>
        </div>

        <img src="../images/карпачо.jpg" alt="блюдо" class="recipe-image">

        <div class="recipe-content">
            <div class="ingredients">
                <h2>Ингредиенты для 4 персон!</h2>
                <ul>
                    <li>300 г вырезки охлаждённой свежей говядины</li>
                    <li>2 ст. л. лимонного сока</li>
                    <li>небольшой пучок рукколы</li>
                    <li>1,5 ст. л. винного уксуса;</li>
                    <li>130 мл оливкового масла</li>
                    <li>1/3 ч. л. соли</li>
                    <li>1 ч. л. дижонской горчицы.</li>
                </ul>
            </div>

            <div class="instructions">
                <h2>Способ приготовления</h2>
                <ol>
                    <li>Из мяса удалите избыток влаги бумажным полотенцем. Отправьте кусочек на час в морозильную камеру.</li>
                    <li>Холодную говядину острым ножом режьте на слайсы толщиной от 3 до 5-6 мм. Отбивайте все кусочки, но не очень активно.</li>
                    <li>Каждый ломтик смазывайте смесью масла, горчицы, уксуса и лимонного сока, а также солите.</li>
                    <li>Подавайте карпаччо с рукколой</li>
                </ol>
            </div>
        </div>
    </main>
     <main class="recipe-container">
        <div class="recipe-header">
            <h1>Колканнон</h1>
            <p class="recipe-subtitle">ирландская традиционная кухня</p>
        </div>

        <img src="../images/колканон.jpg" alt="блюдо" class="recipe-image">

        <div class="recipe-content">
            <div class="ingredients">
                <h2>Ингредиенты для 4-5 персон!</h2>
                <ul>
                    <li>0,5 кг картофеля;</li>
                    <li>350-400 г савойской, белокочанной или кудрявой капусты;</li>
                    <li>стебель лука-порея</li>
                    <li>полстакана не очень жирных сливок и молока</li>
                    <li>120 г сливочного масла (20 г – для сервировки)</li>
                    <li>молотый перец, соль (количество определяйте по своему вкусу)</li>
                </ul>
            </div>

            <div class="instructions">
                <h2>Способ приготовления</h2>
                <ol>
                    <li>Очищайте и режьте дольками или иным способом картошку.</li>
                    <li>Варите картофель в воде с добавлением небольшого количества соли до мягкости, то есть полной готовности. Воду сливайте.</li>
                    <li>Капусту рубите ножом вместе с луком-пореем. Эти продукты опускайте в кипящую воду и отваривайте до мягкости (обычно требуется 3-4 минуты).</li>
                    <li>Сваренные картофель, капусту и лук пюрируйте с помощью картофелемялки или соответствующей насадки блендера. Масса должна стать однородной. Вводите в неё размягчённое сливочное масло (оставьте немного для подачи) и сливки либо молоко</li>
                    <li>Ещё раз измельчайте или перемешивайте массу</li>
                    <li>Подавайте Колканнон, украсив каждую порцию небольшим кусочком масла. Также в качестве украшения подойдёт зелёный рубленый лук или другая зелень.</li>
                </ol>
            </div>
        </div>
    </main>
     <main class="recipe-container">
        <div class="recipe-header">
            <h1>Кучерикас</h1>
            <p class="recipe-subtitle">греческая закуска</p>
        </div>

        <img src="../images/кучерикас.jpg" alt="блюдо" class="recipe-image">

        <div class="recipe-content">
            <div class="ingredients">
                <h2>Ингредиенты для 4 персон!</h2>
                <ul>
                    <li>3 или 4 спелых баклажана;</li>
                    <li>100 г любого сыра твёрдого сорта</li>
                    <li>100 г творога средней жирности</li>
                    <li>1 яйцо</li>
                    <li>ваша любимая свежая зелень</li>
                    <li>3 зубца чеснока</li>
                    <li>соль.</li>
                </ul>
            </div>

            <div class="instructions">
                <h2>Способ приготовления</h2>
                <ol>
                    <li>Отварите яйцо</li>
                    <li>Вымойте баклажаны, уберите плодоножки. Разрежьте овощи вдоль на половины и варите около 10 минут в слегка подсоленной воде.</li>
                    <li>Пока варятся баклажаны, натирайте на средней тёрке сыр и яйцо, рубите зелень, смешивайте эти ингредиенты с творогом до однородности</li>
                    <li>Из сваренных баклажанов ложкой выньте мякоть, разомните её вилкой и смешайте с творожно-сырной массой.</li>
                    <li>Полученной смесью начините баклажановые «лодочки» и при 180 градусов запекайте их не больше получаса.</li>
                </ol>
            </div>
        </div>
    </main>
     <main class="recipe-container">
        <div class="recipe-header">
            <h1>Минестроне</h1>
            <p class="recipe-subtitle">итальянский суп</p>
        </div>

        <img src="../images/минестроне.jpg" alt="блюдо" class="recipe-image">

        <div class="recipe-content">
            <div class="ingredients">
                <h2>Ингредиенты для 5-6 персон!</h2>
                <ul>
                    <li>4 картофелины</li>
                    <li>кабачок</li>
                    <li>морковка</li>
                    <li>2 помидора</li>
                    <li>50-70 г макаронных изделий</li>
                    <li>50-70 мл оливкового или другого растительного масла</li>
                    <li>100 г пармезана или похожего твёрдого сыра</li>
                    <li>большая головка лука-репки</li>
                    <li>2 л овощного бульона</li>
                    <li>соль по вкусу, специи</li>
                </ul>
            </div>

            <div class="instructions">
                <h2>Способ приготовления</h2>
                <ol>
                    <li>Картофель почистите, порежьте кубиком.</li>
                    <li>Таким же способом измельчайте остальные овощи. Если кожура кабачка плотная, её лучше снять.</li>
                    <li>Лук после очистки мелко шинкуйте.</li>
                    <li>В казане или другой подобной ёмкости с высокими стенками и толстым дном в масле слегка жарьте нашинкованный лук.</li>
                    <li>Добавляйте морковку, готовьте её, помешивая, до лёгкой золотистости.</li>
                    <li>Затем выкладывайте в ёмкость картошку, кабачок и томаты</li>
                    <li>Все овощи должны тушиться около 7 минут, после чего заливайте их водой и варите до полной готовности.</li>
                    <li>В самом конце добавляйте макаронные изделия. Когда они сварятся, солите суп, кладите в него специи.</li>
                    <li>Готово, можно разливать суп по порционным тарелкам и посыпать его сверху натёртым сыром.</li>
                </ol>
            </div>
        </div>
    </main>
     <main class="recipe-container">
        <div class="recipe-header">
            <h1>Паэлья</h1>
            <p class="recipe-subtitle">испанский микс риса, морепродуктов или мясных компонентов и овощей.</p>
        </div>

        <img src="../images/паэлья.jpg" alt="блюдо" class="recipe-image">

        <div class="recipe-content">
            <div class="ingredients">
                <h2>Ингредиенты для 4 персон!</h2>
                <ul>
                    <li>200 г длиннозёрного риса</li>
                    <li>головка лука-шалота</li>
                    <li>около 600 мл воды</li>
                    <li>1 спелый томат</li>
                    <li>3 стебля сельдерея</li>
                    <li>1 крупный и сочный болгарский перец</li>
                    <li>100 г размороженной стручковой фасоли</li>
                    <li>200-250 морской белой рыбы</li>
                    <li>1 лайм</li>
                    <li>по 100 г морепродуктов нескольких видов – осьминогов, мидий, креветок, кальмаров</li>
                    <li>3 ст. л. оливкового масла</li>
                    <li>по ½ ч. л. соли и шафрана</li>
                    <li>щепотка чёрного молотого перца</li>
                    <li>веточка розмарина</li>
                </ul>
            </div>

            <div class="instructions">
                <h2>Способ приготовления</h2>
                <ol>
                    <li>Лук после очистки нашинкуйте ножом</li>
                    <li>Томат вымойте, порежьте кубиками малого размера</li>
                    <li>Из перца выньте плодоножки и семечки, измельчите его небольшими кубиками</li>
                    <li>Рыбу вымойте, освободите от чешуи, костей и кожицы, чтобы осталось чистое филе, которое нужно порезать кусочками средней величины.</li>
                    <li>В сковородке разогрейте половину объёма оливкового масла, в течение пары минут обжарьте в нём измельчённый лук вместе с розмарином, который даст прекрасный аромат (после обжаривания его следует вынуть).</li>
                    <li>В сковороду выкладывайте порезанный перец, жарьте его до золотистости</li>
                    <li>Добавляйте стручковую фасоль, обжаривайте минуты две-три.</li>
                    <li>Рис тщательно промойте и положите в сковородку к овощам вместе со второй половиной масла. Всё вместе жарьте с периодическими помешиваниями 2-3 минуты.</li>
                    <li>В сковородку влейте воду, всыпьте шафран, соль и молотый перец. Под крышкой рис после закипания будет томиться на небольшом огне 15-17 минут.</li>
                    <li>Пока готовится рис, отдельно обжаривайте со всех сторон рыбу, а также очищенные морепродукты.</li>
                    <li>Добавляйте морепродукты с рыбой к рису и овощам, под крышкой готовьте всё ещё 4-5 минут.</li>
                    <li>Дайте готовой паэлье настояться, напитаться ароматами и вкусами. Подавайте её прямо в сковородке, украсив лаймовыми ломтиками.</li>
                </ol>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>Ганиева Мелина, студент 1 курса, 2026</p>
        </div>
    </footer>
</body>
</html>